--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 15.13 (Debian 15.13-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: AdminUser; Type: TABLE DATA; Schema: public; Owner: dev
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public."AdminUser" DISABLE TRIGGER ALL;

INSERT INTO public."AdminUser" VALUES (1, 'sangbeo245@gmail.com', '$2b$10$Jh1LuGLfqh6oaIb7mtsKBuUJbcxEihLx4iQavBHlpNnGxQzknwE.q', '2025-08-08 03:02:27.108', NULL, 'Tr╞░╞íng Tß║Ñn Sang');
INSERT INTO public."AdminUser" VALUES (2, 'user1@example.com', '$2b$10$TpThtXQmfk49WIpKKaO42etrfg1d9c7TRAjnT.89R0u2Rdr8wXGEG', '2025-08-08 03:02:56.695', NULL, 'Ngo Chien Thang');
INSERT INTO public."AdminUser" VALUES (3, 'user2@example.com', '$2b$10$1ozMbtPyWYm8EVH.zRNSveU3MRZs6vx400wQfohafGrdTWRBBILiK', '2025-08-08 03:03:10.021', NULL, 'Vo Pham Anh Khoa');


ALTER TABLE public."AdminUser" ENABLE TRIGGER ALL;

--
-- Data for Name: Post; Type: TABLE DATA; Schema: public; Owner: dev
--

ALTER TABLE public."Post" DISABLE TRIGGER ALL;

INSERT INTO public."Post" VALUES (26, 'RESEARCH', 'Factor Report: Quality', 'PDF', '2025-06-01 10:18:10.701', '2025-08-14 16:13:49.539', 2, 'Report on the Quality factor for second quarter of 2025, analyzing profitability, earnings stability and financial strength across VN30, VN100 and HOSE.', 'http://192.168.50.200:9002/posts/quality_06.2025.png', 'http://192.168.50.200:9002/posts/QUALITY_FACTOR_06.2025.pdf');z
INSERT INTO public."Post" VALUES (22, 'RESEARCH', 'Factor Report: Value', 'PDF', '2025-07-01 10:18:04.302', '2025-08-14 16:13:36.233', 2, 'Report on the Value factor for second quarter of 2025, focusing on valuation metrics such as P/E, P/B, and EV/EBITDA across major Vietnamese indices.', 'http://192.168.50.200:9002/posts/value_07.2025.png', 'http://192.168.50.200:9002/posts/VALUE_FACTOR_07.2025.pdf');
INSERT INTO public."Post" VALUES (20, 'RESEARCH', 'Factor Report: Low Volatility', 'PDF', '2025-07-01 10:18:06.302', '2025-08-14 16:07:02.803', 2, 'Report on the Low Volatility factor for second quarter of 2025, covering VN30, VN100 and HOSE.', 'http://192.168.50.200:9002/posts/low_volatility_07.2025.png', 'http://192.168.50.200:9002/posts/LOW_VOLATILITY_FACTOR_07.2025.pdf');
INSERT INTO public."Post" VALUES (27, 'RESEARCH', 'Factor Report: Value', 'PDF', '2025-06-01 10:18:09.701', '2025-08-14 16:13:49.539', 2, 'Report on the Value factor for second quarter of 2025, focusing on valuation metrics such as P/E, P/B, and EV/EBITDA across major Vietnamese indices.', 'http://192.168.50.200:9002/posts/value_06.2025.png', 'http://192.168.50.200:9002/posts/VALUE_FACTOR_06.2025.pdf');


ALTER TABLE public."Post" ENABLE TRIGGER ALL;

--
-- Data for Name: Topic; Type: TABLE DATA; Schema: public; Owner: dev
--

ALTER TABLE public."Topic" DISABLE TRIGGER ALL;

INSERT INTO public."Topic" VALUES (1, 'AI', '#128275');
INSERT INTO public."Topic" VALUES (2, 'Machine Learning', '#c27100');
INSERT INTO public."Topic" VALUES (3, 'Factor', '#0f711a');


ALTER TABLE public."Topic" ENABLE TRIGGER ALL;

--
-- Data for Name: _PostToTopic; Type: TABLE DATA; Schema: public; Owner: dev
--

ALTER TABLE public."_PostToTopic" DISABLE TRIGGER ALL;

INSERT INTO public."_PostToTopic" VALUES (15, 3);
INSERT INTO public."_PostToTopic" VALUES (15, 4);
INSERT INTO public."_PostToTopic" VALUES (16, 3);


ALTER TABLE public."_PostToTopic" ENABLE TRIGGER ALL;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: dev
--

ALTER TABLE public._prisma_migrations DISABLE TRIGGER ALL;

INSERT INTO public._prisma_migrations VALUES ('7f043501-1822-4b7c-845a-4dc791837d27', 'ea407e5597d1284aadf0c716c80bdc1c388f777a17aef0408a41503ee49df661', '2025-08-08 02:59:30.592756+00', '20250808020042_add_post_author_relation', NULL, NULL, '2025-08-08 02:59:30.560078+00', 1);
INSERT INTO public._prisma_migrations VALUES ('b7958190-082f-4756-b23a-163983fb7aa2', 'a6ee83d2ceb68c79c11c0f0106c07a29c9705e1c9f0df6548666391c4e5918b0', '2025-08-08 02:59:30.598873+00', '20250808023606_add_post_summary_and_images', NULL, NULL, '2025-08-08 02:59:30.594334+00', 1);
INSERT INTO public._prisma_migrations VALUES ('1713bc29-db07-4dcc-a16d-ce56a57397ad', 'de0908c575c24b9728832caa4138d2cdaaad93a9d3744c206bbc6c86e766ea0f', '2025-08-08 02:59:42.263204+00', '20250808025942_add_admin_name', NULL, NULL, '2025-08-08 02:59:42.256657+00', 1);


ALTER TABLE public._prisma_migrations ENABLE TRIGGER ALL;

--
-- Name: AdminUser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dev
--

SELECT pg_catalog.setval('public."AdminUser_id_seq"', 5, true);


--
-- Name: Post_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dev
--

SELECT pg_catalog.setval('public."Post_id_seq"', 55, true);


--
-- Name: Topic_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dev
--

SELECT pg_catalog.setval('public."Topic_id_seq"', 13, true);


--
-- PostgreSQL database dump complete
--

